{
	"env": {
		"browser": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module"
	},
	"rules": {
		"no-console": ["warn", { "allow": ["warn", "error"] }],
		"no-unused-vars": "error",
		"no-trailing-spaces": "error"
	}
}
